@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Moirai+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+3D&family=Rubik+Distressed&family=Sacramento&family=Satisfy&family=Sofia&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Distressed", system-ui;
    font-family: "Roboto", sans-serif;
}

.main-div {
    background: rgb(0, 0, 0);
    background: linear-gradient(48deg, rgba(0, 0, 0, 1) 56%, rgba(68, 68, 68, 1) 76%, rgba(123, 133, 171, 1) 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 90px;

    .mode-toggle {
        background-color: transparent;
        position: absolute;
        top: 20px;
        left: 30px;
        border: none;

        i {
            color: white;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .right-part {
        width: 40%;
        border-right: 1px solid white;

        img {
            width: 100%;
        }
    }

    .left-part {
        height: 50vh;
        width: 50%;
        margin-left: 30px;

        h1 {
            color: white;
            width: 100%;
            font-size: 50px;
            margin-bottom: 40px;
        }

        p {
            color: rgb(201, 201, 201);
            width: 80%;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-top: 40px;
            cursor: pointer;
            display: flex;

        }

        a {
            text-decoration: none;
            color: #cbd5fd;
            color: var(--c);
            transition: 0.5s;
            text-transform: uppercase;
            z-index: 10000;
            /* position: relative; */
        }

        nav ul li {
            --c: #cbd5fd;
            color: var(--c);
            font-size: 12px;
            border: 0.2em solid var(--c);
            border-radius: 10em;
            width: 12em;
            height: 3em;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.1em;
            text-align: center;
            line-height: 3em;
            position: relative;
            right: 10px;
            overflow: hidden;
            z-index: 1;
            transition: 0.5s;
            margin: 1em;
        }

        nav ul li span {
            position: absolute;
            width: 25%;
            height: 100%;
            background-color: var(--c);
            transform: translateY(150%);
            border-radius: 50%;
            left: calc((var(--n) - 1) * 25%);
            transition: 0.5s;
            transition-delay: calc((var(--n) - 1) * 0.1s);
            z-index: -1;
        }

        nav:hover li a {
            color: black;
        }

        nav ul li a :hover {
            color: black;
        }

        nav ul li:hover span {
            transform: translateY(0) scale(2);
        }

        nav ul li span:nth-child(1) {
            --n: 1;
        }

        nav ul li span:nth-child(2) {
            --n: 2;
        }

        nav ul li span:nth-child(3) {
            --n: 3;
        }

        nav ul li span:nth-child(4) {
            --n: 4;
        }
    }

}

.lang-toggle {
    left: 80px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;

    .light-lang {
        color: white;
        font-size: 20px;
    }
}

.dark-mode-div {
    background: rgb(255, 255, 255);
    background: linear-gradient(48deg, rgba(255, 255, 255, 1) 56%, rgba(203, 213, 253, 1) 76%, rgba(203, 213, 253, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;

    .lang-toggle {
        left: 80px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 20px;
        cursor: pointer;

        .dark-icon {
            color: black;
            font-size: 20px;

        }
    }



    .mode-toggle {
        background-color: transparent;
        position: absolute;
        top: 20px;
        left: 30px;
        border: none;

        i {
            color: black;
            font-size: 20px;
            cursor: pointer;
        }
    }


    .right-part {
        width: 14%;

        img {
            width: 100%;
            margin-top: 30px;
        }
    }

    .left-part {
        border-left: 1px solid rgb(0, 0, 0);
        padding-left: 40px;
        height: 50vh;
        width: 50%;

        h1 {
            color: black;
            margin-right: 50px;
            font-size: 50px;
            margin-bottom: 40px;
        }

        p {
            color: rgb(125, 125, 125);
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-top: 40px;
            cursor: pointer;
            display: flex;

        }

        a {
            text-decoration: none;
            color: #cbd5fd;
            color: var(--c);
            transition: 0.5s;
            text-transform: uppercase;
            z-index: 10000;
            /* position: relative; */
        }

        nav ul li {
            --c: #cbd5fd;
            color: var(--c);
            font-size: 12px;
            border: 0.2em solid var(--c);
            border-radius: 10em;
            width: 12em;
            height: 3em;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.1em;
            text-align: center;
            line-height: 3em;
            position: relative;
            right: 10px;
            overflow: hidden;
            z-index: 1;
            transition: 0.5s;
            margin: 1em;
        }

        nav ul li span {
            position: absolute;
            width: 25%;
            height: 100%;
            background-color: var(--c);
            transform: translateY(150%);
            border-radius: 50%;
            left: calc((var(--n) - 1) * 25%);
            transition: 0.5s;
            transition-delay: calc((var(--n) - 1) * 0.1s);
            z-index: -1;
        }

        nav:hover li a {
            color: black;
        }

        nav ul li a :hover {
            color: black;
        }

        nav ul li:hover span {
            transform: translateY(0) scale(2);
        }

        nav ul li span:nth-child(1) {
            --n: 1;
        }

        nav ul li span:nth-child(2) {
            --n: 2;
        }

        nav ul li span:nth-child(3) {
            --n: 3;
        }

        nav ul li span:nth-child(4) {
            --n: 4;
        }
    }

}

@media(max-width:1162px){
    h1{
        font-size: 40px !important;
        margin: 0 !important;
    }
}
@media(max-width:1116px) {
    nav {
        ul {
            margin-top: 10px !important;
        }
    }
    h1{
        font-size: 30px !important;
    }

    .title {
        margin-bottom: 0 !important;
    }

    .dark-mode-div {
        .right-part {
            width: 40% !important;
        }
    }
}
@media(max-width:990px){
    .title{
        font-size: 30px !important;
    }
}

@media(max-width:938px) {
    .title {
        font-size: 25px !important;
    }
    p{
        font-size: 14px !important;
    }

    .left-part {
        padding-block: 40px;
        width: 80% !important;
    }
}
@media(max-width:850px){
    .main-div{
        .right-part{
            height: 250px !important;
        }
    }
}


@media(max-width:720px) {
    .title {
        width: 100%;
    }
}

@media(max-width:710px) {

    .title {
        width: 90% !important;
        margin-top: 20px;
    }

    .parg {
        font-size: 12px;
        width: 90% !important;
    }

    .dark-mode-div {
        .right-part {
            height: 300px;
        }
    }
}

@media(max-width:644px) {
    .right-part {
        height: 200px;
        width: 70% !important;
    }

    .title {
        font-size: 20px !important;
    }
}

@media(max-width:570px) {
    .title {
        font-size: 20px !important;
    }
}

@media(max-width:528px) {
    .title {
        margin-top: -30px !important;
    }

}

@media(max-width:480px){
    .main-div {
        flex-direction: column !important;
        background: rgb(203, 213, 253);
        background: linear-gradient(23deg, rgba(203, 213, 253, 1) 0%, rgba(0, 0, 0, 1) 44%, rgba(0, 0, 0, 1) 61%);
        padding-top: 100px;

        .right-part {
            height: 200px !important;
            margin-top: -40px !important;
            width: 40% !important;
            margin-left: 80px;
        }

        .left-part {
            width: 90%;
            margin-left: 120px;
            margin-top: 50px;

            .title {
                width: 90% !important;

            }

            .parg {
                margin-top: 20px;
            }
        }
    }

    .dark-mode-div {
        background: rgb(203, 213, 253);
        background: linear-gradient(23deg, rgba(203, 213, 253, 1) 0%, rgba(255, 255, 255, 1) 44%, rgba(255, 255, 255, 1) 61%);
        flex-direction: column;
        .right-part{
            border-bottom: 1px solid black ;
            height: 100px;
        }
        .left-part{
            border-left: none;
            width: 100%;
            .title{
                width: 100% !important;
            }
        }
    }
}
@media(max-width:425px) {
    .main-div {
        flex-direction: column !important;
        background: rgb(203, 213, 253);
        background: linear-gradient(23deg, rgba(203, 213, 253, 1) 0%, rgba(0, 0, 0, 1) 44%, rgba(0, 0, 0, 1) 61%);

        .right-part {
            height: 200px !important;
            margin-top: 30px;
            width: 60% !important;
            margin-left: 80px;
        }

        .left-part {
            width: 90%;
            margin-left: 120px;
            margin-top: 50px;

            .title {
                width: 90% !important;

            }

            .parg {
                margin-top: 20px;
            }
        }
    }

    .dark-mode-div {
        background: rgb(203, 213, 253);
        background: linear-gradient(23deg, rgba(203, 213, 253, 1) 0%, rgba(255, 255, 255, 1) 44%, rgba(255, 255, 255, 1) 61%);
        flex-direction: column;
        .right-part{
            border-bottom: 1px solid black ;
            height: 100px;
        }
        .left-part{
            border-left: none;
            width: 100%;
            .title{
                width: 100% !important;
            }
        }
    }
}
@media(max-width:380px){
    .main-div{
        padding-top: 100px;
        .right-part{
            height: 100px !important;
        }
        .left-part{
            width: 100% !important; 
            .title{
                margin-top: 0 !important;
            }
        }
    }
}